body{
    background-color: #003366;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

img{
    width: 30%;    
}

.img2{
    transform: scaleX(-1);
    position: absolute;
    right: 0;
}

.border{
    border: 1px solid white;
    box-shadow: 10px 10px white;
    border-radius: 10px;
    padding: 20px;
}
h1{
    text-align: center;
}
button{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s all;
    
}
.center{
    text-align: center;
}
.no-margin{
    margin: 0px;
}
button:hover{
    transition: 0.5s all;
    background-color: rgb(252, 252, 175);
    transform: scale(1.1);
}

#breed-message{
    text-align: center;
}

/* Parent container */
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px;
}

/* Flex element */
.flex {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

#test-search-container{
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#test-search-container > input{
    width: 60vw;

}
#breed-list{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vw;
}

#search-results{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}